@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300;1,500;1,700;1,800&display=swap");
body { background: url(../media/fondo.jpg); }

.bgWhite { background-color: #1f1616; }

@media all and (max-width: 320px) { .bgWhite { background-color: #1f1616; max-width: 100%; } }

.cr7__titulo { background-color: #fff; color: #000; text-align: center; margin-bottom: 30px; font-family: 'Raleway', sans-serif; font-weight: 800; }

.cr7__texto { font-family: 'Raleway', sans-serif; font-weight: 300; color: #fff; }

#navBar { background-color: #fff; font-family: 300; }

.bg { background-color: #1f1616; }

#contedorCarrusel { width: 100%; }

#car { margin-top: 100px; width: 60%; }

#header { background-color: #4a4e69; grid-area: hea; }

.navbar-toggler-icon { background-color: red; }

.barraCr7__texto { font-family: 'Raleway', sans-serif; font-weight: 300; color: #000; }

.Sporting__titulo { color: #8d99ae; font-family: 'Raleway', sans-serif; font-weight: 700; margin-bottom: 10px; }

h3 { color: #118ab2; }

.Sporting__texto { line-height: 1.5; font-family: 'Raleway', sans-serif; padding: 15px; }

.letraDistina { font-family: 'Raleway', sans-serif; line-height: 1.5; }

.mediaSporting { width: 70vh; height: 40vh; padding: 20px 10px; }

.sportingVideo { padding: 100px; }

.trayectoriaSporting { padding: 50px; background-color: darkgreen; }

@media all and (max-width: 1024px) { .trayectoriaSporting { background-color: yellow; } }

@media all and (max-width: 600px) { .trayectoriaSporting { background-color: #fff; } }

.trayectoriaManU { background-color: red; padding: 50px; }

.manchesterUnited__titulo { color: #8d99ae; font-family: 'Raleway', sans-serif; font-weight: 700; margin-bottom: 10px; }

.manchesterUnited__texto { line-height: 1.5; font-family: 'Raleway', sans-serif; padding: 15px; }

.mediaManU { width: 70vh; height: 40vh; padding: 20px 10px; }

#footer { background-color: #1f1616; color: white; text-align: center; width: 100%; bottom: 0; }

.Lisboa { text-align: center; font-family: "Raleway", sans-serif; font-weight: 800; color: darkgreen; animation-duration: 4s; animation-name: aparecer; }

@keyframes aparecer { 0% { opacity: 0; }
  100% { opacity: 1; } }

.sportingArea img { /*width: 400px; height: 300px;*/ max-width: 50%; height: auto; }

.contenedor { background-color: #03071e; width: 400px; padding: 30px; margin: auto; margin-top: 150px; border-radius: 5px; font-family: 'Raleway', sans-serif; color: white; box-shadow: 7px 13px 37px #000; }

.tituloFanClub { margin-top: 15px; margin-bottom: 10px; text-align: center; text-transform: uppercase; }

.control { width: 100%; background-color: #03071e; padding: 10px; border-radius: 4px; margin-bottom: 20px; border: 1px solid red; font-family: 'Raleway', sans-serif; }

.boton { width: 100%; height: 45px; margin-top: 15px; border-radius: 4px; border: none; color: #0000; text-transform: uppercase; background: linear-gradient(to left, #bdc3c7, #2c3e50); font-family: 'Raleway', sans-serif; }

.boton:hover { cursor: pointer; transform: translateY(-3px); transition: all cubic-bezier(0.215, 0.61, 0.355, 1); }
