@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300;1,500;1,700;1,800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body { background: url(../media/fondo.jpg); background-repeat: no-repeat; background-size: cover; }

.bgStyle { border-radius: var(--Item-br); box-shadow: var(--shadows); background-color: #4a4a4a; margin-top: 30px; padding-top: 2%; }

.tituloCR7 { text-align: center; margin-bottom: 30px; padding: 5%; font-family: 'Raleway', sans-serif; font-weight: 800; color: white; }

.textoCR7 { font-family: 'Raleway', sans-serif; font-weight: 300; color: #fff; padding: 30px; }

#navBar { font-family: 800; margin-left: 5%; margin-right: 17%; padding: 1%; width: 100%; }

.bg { background-color: url(../media/fondo.jpg); }

.listas { width: 100%; justify-content: space-evenly; }

.nav-item { margin-bottom: 2%; height: 40px; padding: 0 10px 0 10px; border-radius: 15px; text-transform: uppercase; background: #c5c1c1; }

.desplegable { text-decoration: none; color: #676767; font-weight: 800; padding: 0 10px 0 10px; justify-content: center; align-items: center; }

#navBar a:hover { color: #000; text-decoration: none; }

.nav-item:hover { cursor: pointer; transform: translateY(-3px); transition: all cubic-bezier(0.215, 0.61, 0.355, 1); }

.nav-link { color: #676767; font-weight: 800; justify-content: center; align-items: center; }

#contedorCarrusel { width: 100%; }

#car { margin-top: 50px; margin-bottom: 50px; width: 60%; }

div.carousel-item img { border-radius: 45%; }

.navbar-toggler-icon { color: #000; font-size: 50px; }

.barraCr7__texto { font-family: 'Raleway', sans-serif; font-weight: 300; }

.cr7Video { padding: -20%; }

.instalogo { text-align: center; margin-top: 30px; margin-bottom: 30px; color: white; font-size: 30px; }

.twittlogo { text-align: center; margin-top: 30px; margin-bottom: 30px; color: white; font-size: 30px; }

.fblogo { text-align: center; margin-top: 30px; margin-bottom: 30px; color: white; font-size: 30px; }

.iconHover:hover { cursor: pointer; transform: translateY(-4px); transition: all cubic-bezier(0.215, 0.61, 0.355, 1); }

#footer { padding: 30px; }

.sLStyle { border-radius: var(--Item-br); box-shadow: var(--shadows); background: radial-gradient(circle, #020024 0%, #144705 0%, #616161 87%); margin-top: 30px; margin-bottom: 30px; }

.titulo { color: #f3f3f3; font-family: 'Raleway', sans-serif; font-weight: 700; margin-bottom: 10px; }

h4 { font-family: 'Raleway', sans-serif; font-weight: 700; color: #000; }

.texto { line-height: 1.5; font-family: 'Raleway', sans-serif; font-weight: 500; padding: 15px; }

.letraDistina { font-family: 'Raleway', sans-serif; line-height: 1.5; color: #000; }

.media { width: 60vh; height: 40vh; padding: 20px 10px; align-items: center; }

@media (max-width: 700px) { .media { width: 44vh; height: 42vh; padding: 20px 10px; align-items: center; } }

.video { padding: 100px; }

.videoRM { padding: 100px; margin-top: 30%; margin-left: 5%; }

.teams { justify-content: center; }

.trayectoria { padding: 50px; }

.manStyle { border-radius: var(--Item-br); box-shadow: var(--shadows); background: radial-gradient(circle, #020024 0%, #ff3a05 0%, #616161 87%); margin-top: 30px; margin-bottom: 30px; }

div .realMadrid { border-radius: var(--Item-br); box-shadow: var(--shadows); margin-top: 30px; margin-bottom: 30px; background: radial-gradient(circle, #020024 0%, whitesmoke 0%, #616161 87%); }

div .juve { border-radius: var(--Item-br); box-shadow: var(--shadows); margin-top: 30px; margin-bottom: 30px; background: linear-gradient(90deg, #d7d0d0 0%, #707070 5%, #d7d0d0 85%); }

div .portugal { border-radius: var(--Item-br); box-shadow: var(--shadows); margin-top: 30px; margin-bottom: 30px; background: linear-gradient(90deg, #d1cccc 15%, #266a1a 47%, #d53503 49%); }

.iconTeams { justify-content: center; width: 10vh; }

.iconTeams:hover { cursor: pointer; transform: translateY(-4px); transition: all cubic-bezier(0.215, 0.61, 0.355, 1); }

.clubes { text-align: center; font-family: "Raleway", sans-serif; font-weight: 800; color: #000600; animation-duration: 4s; animation-name: aparecer; }

@keyframes aparecer { 0% { opacity: 0; }
  100% { opacity: 1; } }

.form-section { display: flex; justify-content: center; }

.form-content { margin-left: 3%; margin-right: 3%; margin-bottom: 5%; width: 400px; height: 400px; font-family: 'Raleway', sans-serif; background: #03071e; border-radius: 45px; box-sizing: border-box; box-shadow: 7px 13px 37px #000; }

.form-content form { height: 100%; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: space-evenly; color: #fff; }

.tituloFanClub { margin-top: 15px; margin-bottom: 20px; text-align: center; }

.form-content form .inputbox { margin-bottom: 12px; position: relative; width: 100%; display: flex; justify-content: center; }

.form-content form .inputbox label { position: absolute; left: 15%; top: 0; pointer-events: none; transition: 0.5s; font-size: 20px; transition: 0.5s ease; }

.form-content form .inputbox input { width: 80%; border: none; border-bottom: 1px solid #fff; background: transparent; color: #fff; outline: none; padding: 0.4em 0.8em; }

.form-content form .inputbox input:focus ~ label, .form-content form .inputbox input:valid ~ label { font-size: 15px; color: lightskyblue; transform: translate(0, -100%); transition: 0.5s ease; }

.form-content form .button { padding: 0.5em 2em; background: linear-gradient(to left, #bdc3c7, #2c3e50); outline: none; border-radius: 25px; }

.button:hover { cursor: pointer; transform: translateY(-3px); transition: all cubic-bezier(0.215, 0.61, 0.355, 1); }

.form-content form a { text-decoration: none; color: black; outline: none; }

:root { --shadows: 
			-4px -4px 12px rgb(255 255 255 /35%), 4px 4px 12px rgb(60 60 60 / 80%); --item-shadows: 
			 inset -3px -3px 6px #ffffff, inset 3px 3px 6px #d1d9e6; --img-shadows: 
			 inset -3px -3px 6px #ffffff, inset 3px 3px 6px #d1d9e6; --buttom-shadows: 
			-4px -4px 12px rgb(255 255 255), 4px 4px 12px rgb(121 130 160 / 75%); --buttom-shadows-press: 
			inset -4px -4px 8px rgb(255 255 255), inset 4px 4px 8px rgb(121 130 160 / 75%); --Button-imput-br: 45px; --Item-br: 60px; --bg-color: rgba(240, 240, 240, 1.0); }
