body{
	background: url(../media/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.bgStyle{
	border-radius: var(--Item-br);
	box-shadow: var(--shadows);
	background-color: #4a4a4a;
	margin-top: 30px;
}
.cr7__titulo{
	text-align: center;
	margin-bottom: 30px;
	padding: 5%;
	font-family: 'Raleway', sans-serif;
	font-weight: $fuente-bold;
	color: white;
}
.cr7__texto{
	font-family: 'Raleway', sans-serif;
	font-weight: $fuente-light;
	color: #fff;
	padding: 30px;
}
#navBar{
	font-family: $fuente-bold;
	margin-left: 5%;
	margin-right: 17%;
	padding: 1%;
	width: 100%;
}
.bg{
	background-color: url(../media/fondo.jpg);
}
.listas{
	width: 100%;
	justify-content: space-evenly;
}
.nav-item{
	margin-bottom: 2%;
	height: 40px;
	padding: 0 10px 0 10px;
	border-radius: 15px;
	text-transform: uppercase;
	background: #c5c1c1;
}
.desplegable{
	text-decoration: none;
	color: #676767;
	font-weight: 800;
	padding: 0 10px 0 10px;
	justify-content: center;
    align-items: center;
}
#navBar a:hover {
	color: #000;
	text-decoration: none;
}
.nav-item:hover{
	cursor: pointer;
	transform: translateY(-3px);
	transition:all cubic-bezier(0.215, 0.610, 0.355, 1);
}
.nav-link{
	color: #676767;
	font-weight: 800;
	justify-content: center;
    align-items: center;
}

#contedorCarrusel{
	width: 100%;	
}
#car{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 60%;
}
div.carousel-item img{
	border-radius: 45%;
}
.navbar-toggler-icon{
	color: #000;
	font-size: 50px;
}
.barraCr7__texto{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.instalogo{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
	font-size: 50px;
}
.twittlogo{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
	font-size: 50px;
}
.fblogo{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
	font-size: 50px;
}
.iconHover:hover{
	cursor: pointer;
	transform: translateY(-4px);
	transition:all cubic-bezier(0.215, 0.610, 0.355, 1);
}
#footer{
	padding: 50px;
}
