.clubes{
	text-align: center;
	font-family: $fuente;
	font-weight: $fuente-bold;
	color: #000600;
	animation-duration: 4s;
	animation-name: aparecer;
}
@keyframes aparecer{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
