:root
{
	--shadows: 
			-4px -4px 12px rgb(255 255 255 /35%), 4px 4px 12px rgb(60 60 60 / 80%);
	
	--item-shadows: 
			 inset -3px -3px 6px #ffffff, inset 3px 3px 6px #d1d9e6;
	--img-shadows: 
			 inset -3px -3px 6px #ffffff, inset 3px 3px 6px #d1d9e6;
	
	--buttom-shadows: 
			-4px -4px 12px rgb(255 255 255), 4px 4px 12px rgb(121 130 160 / 75%);
	
	--buttom-shadows-press: 
			inset -4px -4px 8px rgb(255 255 255), inset 4px 4px 8px rgb(121 130 160 / 75%);
	
	--Button-imput-br: 45px;
	--Item-br: 60px;

	--bg-color: rgba(240, 240, 240, 1.0);
	
}