.sLStyle{
	border-radius: var(--Item-br);
	box-shadow: var(--shadows);
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(20,71,5,1) 0%, rgba(97,97,97,1) 87%);
	margin-top: 30px;
	margin-bottom: 30px;
}
.titulo{
	color: #f3f3f3;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}
h4{
	font-family: 'Raleway', sans-serif;
	font-weight: $fuente-light-bold;
	color: #000;
}
.texto{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif; 
	font-weight: $fuente-regular;
	padding: 15px;
}
.letraDistina{
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
	color: #000;
}
.media{
	width: 80vh;
	height: 60vh;
	padding: 20px 10px;
	align-items: center;
}
@media (max-width: 700px) {
	.media{
		width: 48vh;
		height: 40vh;
		padding: 20px 10px;
		align-items: center;
	}
}
.video{
	padding: 100px;
}
.videoRM{
	padding: 100px;
	margin-top: 30%;
	margin-left: 5%;
}
.teams{
	justify-content: center;
}
.trayectoria{
	padding: 50px;
}
.manStyle{
	border-radius: var(--Item-br);
	box-shadow: var(--shadows);
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,58,5,1) 0%, rgba(97,97,97,1) 87%);
	margin-top: 30px;
	margin-bottom: 30px;
}
@mixin style{
	border-radius: var(--Item-br);
	box-shadow: var(--shadows);
	margin-top: 30px;
	margin-bottom: 30px;
}
div .realMadrid{
	@include style;
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(245,245,245,1) 0%, rgba(97,97,97,1) 87%);		
}
div .juve{
	@include style;
	background: linear-gradient(90deg, rgba(215,208,208,1) 0%, rgba(112,112,112,1) 5%, rgba(215,208,208,1) 85%);
}
div .portugal{
	@include style;
	background: linear-gradient(90deg, rgba(209,204,204,1) 15%, rgba(38,106,26,1) 47%, rgba(224,92,51,1) 53%);
}
.iconTeams{
	justify-content: center;
	width: 30vh;
}
.iconTeams:hover{
	cursor: pointer;
	transform: translateY(-4px);
	transition:all cubic-bezier(0.215, 0.610, 0.355, 1);
}