.sLStyle{
	border-radius: var(--Item-br);
	box-shadow: var(--shadows);
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(20,71,5,1) 0%, rgba(97,97,97,1) 87%);
	margin-top: 30px;
	margin-bottom: 30px;
}
.Sporting__titulo{
	color: #8d99ae;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}
h3{
	color: #118ab2;
}
.Sporting__texto{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif; 
	padding: 15px;
}
.letraDistina{
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}
.mediaSporting{
	width: 70vh;
	height: 40vh;
	padding: 20px 10px;
}
.sportingVideo{
	padding: 100px;
}
.trayectoriaSporting{
	padding: 50px;
}
.trayectoriaManU{
	padding: 50px;
}
.manchesterVideo{
	padding: 100px;
}
.manchesterUnited__titulo{
	color: #8d99ae;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}
.manchesterUnited__texto{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif; 
	padding: 15px;
}
.mediaManU{
	width: 70vh;
	height: 40vh;
	padding: 20px 10px;
}
.manStyle{
	border-radius: var(--Item-br);
	box-shadow: var(--shadows);
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,58,5,1) 0%, rgba(97,97,97,1) 87%);
	margin-top: 30px;
	margin-bottom: 30px;
}
